In [11]:
import pandas as pd
from pathlib import Path

PATH = Path('/home/Deep_Learner/work/network/datasets/human-protein-atlas-image-classification/stage1_data')
CSV_EXTRA_DATA = PATH/'HPAv18RBGY_wodpl.csv'
CSV_BASE_DATA = PATH/'train.csv'
CSV_BASE_AND_EXTRA_DATA = PATH/'base_and_extra_data.csv'

In [5]:
df_base = pd.read_csv(CSV_BASE_DATA)
df_base.head()

                                     Id   Target
0  00070df0-bbc3-11e8-b2bc-ac1f6b6435d0     16 0
1  000a6c98-bb9b-11e8-b2b9-ac1f6b6435d0  7 1 2 0
2  000a9596-bbc4-11e8-b2bc-ac1f6b6435d0        5
3  000c99ba-bba4-11e8-b2b9-ac1f6b6435d0        1
4  001838f8-bbca-11e8-b2bc-ac1f6b6435d0       18

In [6]:
df_extra = pd.read_csv(CSV_EXTRA_DATA)
df_extra.head()

                Id        Target
0  10580_1610_C1_1  13 25 0 2 21
1  10580_1610_C1_2  13 25 0 2 21
2  10580_1756_B1_1  13 25 0 2 21
3  10580_1756_B1_2  13 25 0 2 21
4  10580_1758_B1_1  13 25 0 2 21

In [7]:
df_base_and_extra = df_base.append(df_extra, ignore_index=True, sort=False)

In [9]:
len(df_base) + len(df_extra) == len(df_base_and_extra)

True

In [10]:
df_base_and_extra.head()

                                     Id   Target
0  00070df0-bbc3-11e8-b2bc-ac1f6b6435d0     16 0
1  000a6c98-bb9b-11e8-b2b9-ac1f6b6435d0  7 1 2 0
2  000a9596-bbc4-11e8-b2bc-ac1f6b6435d0        5
3  000c99ba-bba4-11e8-b2b9-ac1f6b6435d0        1
4  001838f8-bbca-11e8-b2bc-ac1f6b6435d0       18

In [12]:
df_base_and_extra.to_csv(path_or_buf=CSV_BASE_AND_EXTRA_DATA, index=False)